body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin-top: 0;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;

  font-family: "Montserrat", cursive;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  margin-top: 0;
  font-family: "Montserrat", cursive;
  font-size: 1.17rem;
}
p {
  line-height: 2;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}
th,
td {
  padding: 10px;
}

a {
  color: #11999e;
  font-family: "Montserrat", cursive;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
span {
  text-decoration: underline;
}

.topContainer {
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}

.midContainer {
  margin: 100px 0;
}

.botContainer {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 20px;
}

.bot-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.profileImg {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.educationImg {
  border-radius: 50%;
  width: 15%;
  float: left;
  margin-right: 30px;
}
.workImg {
  border-radius: 50%;
  width: 15%;
  float: left;
  margin-right: 30px;
}
.skillImg {
  border-radius: 50%;
  width: 15%;
  float: left;
  margin-right: 30px;
}

.profile-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.education-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.work-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.skill-row {
  width: 50%;

  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  color: #40514e;
  width: 70%;
  margin: auto;
}
.copyright-text {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.profile-text {
  width: 95%;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
}
.music-text {
  padding: 2%;
  margin-bottom: 3%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", cursive;
  font-size: 1.25rem;
  font-weight: 100;
  padding: 10px 20px 10px 20px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337fed 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
